<ol class="attributes-list">
    {{#each actor.data.attributes as |attrib key|}}
    <li class="attribute flexrow" data-attribute="{{key}}">
        <span class="attribute-label flexrow" name="data.attributes.{{key}}.label">{{label}}</span>
        <div class="attribute-editbox flexrow">
            <input class="attribute-value" type="text" name="data.attributes.{{key}}.value" value="{{attrib.value}}" data-dtype="Number"/>
        </div>
        <span class="attribute-label flexrow" name="data.attributes.{{key}}.label">{{max}}</span>
        <span class="attribute-label flexrow" name="data.attributes.{{key}}.label">{{cost}}</span>
        <span class="attribute-label flexrow" name="data.attributes.{{key}}.label">{{base}}</span>
    </li>
    {{/each}}
</ol>