<section class="attributes-group">
    <div>
        <table class="attributes-table">
            <tr class="attribute">
                <td  class="attribute-label" >STAT</td>
                <td  class="attribute-label" >VAL</td>
                <td  class="attribute-label" >MAX</td>
                <td  class="attribute-label" >COST</td>
                <td  class="attribute-label" >BASE</td>
                <td  class="attribute-label" >POINTS</td>
            </tr>

            {{#each systemData.attributes as |attrib key|}}

            <tr class="attribute" data-attribute="{{key}}">
                <td class="attribute-label" name="data.attributes.{{key}}.label">{{label}}</td>
                <td class="attribute-editbox">
                    <input class="attribute-value" type="text" name="data.attributes.{{key}}.value" value="{{attrib.value}}" data-dtype="Number"/>
                </td>
                <td class="attribute-label" name="data.attributes.{{key}}.label">{{max}}</td>
                <td class="attribute-label" name="data.attributes.{{key}}.label">{{cost}}</td>
                <td class="attribute-label" name="data.attributes.{{key}}.label">{{base}}</td>
                <td class="attribute-editbox">
                    <input class="attribute-value" type="text" name="data.attributes.{{key}}.value" value="{{attrib.pts}}" data-dtype="Number"/>
                </td>
            </tr>

            {{/each}}

        </table>
    </div>
</section>